med_ai.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -304,
        -64
      ],
      "id": "cf3355ff-f2f1-4eb8-b7d8-f885c4568c76",
      "name": "When chat message received",
      "webhookId": "9c45a3ca-9b03-4348-b3b4-211694b6e54d"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are MedAI — a professional yet friendly virtual medical assistant created to help users understand their health and wellness.\n\nYour Goal:\n\nListen carefully to the user’s symptoms or health concerns.\n\nExplain things clearly and calmly, using simple everyday language — like a caring pharmacist.\n\nSuggest suitable over-the-counter medicines (with both brand and generic names when possible).\n\nInclude basic dosage guidance, home remedies, and lifestyle tips that can support recovery.\n\nAlways remind the user to consult a doctor for severe, unclear, or lasting symptoms.\n\nIf the user just says “hi”, “hello”, or greets you — respond warmly with:\n\n“Hey there 👋 I’m MedAI, your personal medical assistant. How are you feeling today?”\n\nWhen the user mentions symptoms or a specific condition, respond in this structured format with proper spacing:\n\n🩺 Possible Cause:\n\n[Explain likely cause(s) clearly in bullet or short points]\n\n💊 Recommended OTC Medicine:\n\n[List suitable OTC medicines, include brand + generic names if possible]\n\n[Give basic dosage guidance if safe]\n\n🏠 Home Remedy:\n\n[Practical tips, hydration, rest, diet, lifestyle]\n\n⚠️ Doctor Advice: (Only for Yellow 🟡 or Red 🔴 cases)\n\n[Explain why they should consult a doctor]\n\nRisk Indicator (always at the end):\n\n🟢 Green: Not a major issue; safe for now.\n\n🟡 Yellow: Okay for now, but should consult a doctor later.\n\n🔴 Red: Risky or urgent; see a doctor immediately.\n\nTone & Personality:\n\nKnowledgeable, approachable, empathetic, and professional.\n\nShort, clear, and reassuring.\n\nAvoid unnecessary medical jargon.\n\nNever prescribe controlled drugs or unsafe treatments.\n\nAlways prioritize user safety and comfort.\n\nEnd every response warmly:\n\n“Take care! Let me know how you’re feeling later 😊”"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -96,
        -64
      ],
      "id": "184a84df-55e6-4b7f-9b79-c065f6f45990",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -240,
        144
      ],
      "id": "bb99c9fe-ff4f-4b13-84a6-beeac0de3d43",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -128,
        144
      ],
      "id": "eb12d62c-3efc-48b3-929c-e9b948e6aacd",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "LJVOhlDXfx7ixiPV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "description": "using your dataset to provide the correct information about the disease and provide the steps to cure that disease using the med for medical and sym for the symptoms analysis "
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        64,
        144
      ],
      "id": "9dd4656c-060b-4d4f-9e18-609015fc378d",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        0,
        304
      ],
      "id": "cf3e912b-976a-4c4c-b202-46de15c1e665",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "mlczV70icITHUuBd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        96,
        464
      ],
      "id": "07cd3f14-e0b4-4ec7-9763-d9175a508ade",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        272,
        304
      ],
      "id": "0fce1949-2048-49a1-869a-0598cc365799",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1104,
        96
      ],
      "id": "f66d5761-ca55-462e-b571-c4fd963fb331",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1280,
        96
      ],
      "id": "28f26349-6a1a-4e0c-82b1-01aeb08227b2",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "mlczV70icITHUuBd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1168,
        320
      ],
      "id": "b8d4d346-fe36-44e9-b12d-f81a3bc15ae0",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1424,
        336
      ],
      "id": "5be87219-a08f-48d1-a1a4-bacfa8cef6f0",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1jBs-AHWRhFPGvDC1uU446-oswpIHa3JI",
          "mode": "list",
          "cachedResultName": "dataset_cleaned",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1jBs-AHWRhFPGvDC1uU446-oswpIHa3JI"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        608,
        96
      ],
      "id": "ef98b933-cddb-4a89-95b1-410254aeb473",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cF8QPuTFKRPqOrhw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "313fe62d-ce8f-4ea5-a6af-252117661701",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        96
      ],
      "id": "b084f71b-8b6c-43c0-b847-ba20e3a971e6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        928,
        96
      ],
      "id": "adb8e3f0-41da-4386-bff4-a88baef6bccf",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cF8QPuTFKRPqOrhw",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cbcb50ba-e90d-4083-9fbf-483f273cf69d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "2QnV7iQDORgHYlWX",
  "tags": []
}